{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'event/css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% block mainmenu %}
<td valign="top">
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
            <li class="logo"><a href="{% url 'home'%}"></a>
            <li/>
            {% for m in menu %}
            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <li class="last">{{ user.username }} |<a href="{% url 'logout' %}">Выйти </a></li>
            {% else %}
            <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
            </li>
            {% endif %}
        </ul>
    <div/>
    {% endblock mainmenu %}
    {% block content %} {% endblock %}
    {% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
            <li class="page-num">
                <a href="?page={{page_obj.previous_page_number }}">&lt;</a>
            </li>
            {% endif %}
            {% for m in paginator.page_range %}
            {% if page_obj.number == m %}
            <li class="page-num page-num-selected">{{ m }}</li>
            {% elif m >= page_obj.number|add:-2 and m <= page_obj.number|add:2 %}
            <li class="page-num">
                <a href="?page={{m}}">{{ m }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-num">
                <a href="?page={{page_obj.next_page_number }}">&gt;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <!--{% if page_obj.has_another_pages %}-->
    <!--<nav aria-label="...">-->
    <!--    <ul class="pagination pagination-lg">-->
    <!--        {% for m in paginator.page_range %}-->
    <!--            {% if page_obj.number == m %}-->
    <!--                <li class="page-item active" aria-current="page">-->
    <!--                <span class="page-link">{{ m }}</span>-->
    <!--                </li>-->
    <!--            {% else %}-->
    <!--                <li class="page-item"><a class="page-link" href="?page={{m}}">{{ m }}</a></li>-->
    <!--            {% endif %}-->
    <!--        {% endfor %}-->
    <!--    </ul>-->
    <!--</nav>-->
    <!--{% endif %}-->
</body>
</html>


